media/images/thumb*
media/Tex*
media/images/reci*
media/images/small*
media/vi*
media/tex*
media/audio*
media/smalls*
media/split*
__pycache__
node_modules
package*
pbcopy
pyrightconfig*
media/.DS_store
output.mp4
